.imgcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 10px 10px lightslategray;
}

h2{
    color: maroon;
    font-family: Arial;
}

.dlist dt{
    color: blue;
}

.ollist ol>li{
    color:blue;
}

h1{
    font-family: Verdana;
}

#p1{
    font-weight: bolder;
    font-family: 'Segoe UI';
}

#p2, #p3, #p4, #p5, #p6{
    font-style: italic;
}

p{
    text-align: justify;
}