.box1{
    width: 50%;
    border-style: solid;
    margin: 0px auto;
    box-shadow: 5px 5px 7px 5px grey;
    background-color: antiquewhite;
}

.p1{
    text-align: justify;
    padding: 10px;
}

.h1{
    text-align: center;
    text-shadow: 2px 2px 3px lightslategray;
}

.box2{
    width: 50%;
    border-style: solid;
    margin: 0px auto;
    box-shadow: 5px 5px 7px 5px grey;
    background-color: lightcyan;
    margin-top: 30px;
}

.p2{
    text-align: justify;
    padding: 10px;
    font-family: Verdana;
}

.p3{
    text-align: justify;
    padding: 10px;
    font-family: Arial;
}

.p4{
    text-align: justify;
    padding: 10px;
    font-family: Georgia;
}

.p5{
    text-align: justify;
    padding: 10px;
    font-family: sans-serif;
}


.h2{
    text-align: center;
    text-shadow: 2px 2px 3px lightslategray;
    font-family: Verdana;
}

.h3{
    text-align: center;
    text-shadow: 2px 2px 3px lightslategray;
    font-family: Arial;
}

.h4{
    text-align: center;
    text-shadow: 2px 2px 3px lightslategray;
    font-family: Georgia;
}

.h5{
    text-align: center;
    text-shadow: 2px 2px 3px lightslategray;
    font-family: sans-serif;
}
.box3{
    width: 50%;
    border-style: solid;
    margin: 0px auto;
    box-shadow: 5px 5px 7px 5px grey;
    background-color: lightyellow;
    margin-top: 30px;
}

.box4{
    width: 50%;
    border-style: solid;
    margin: 0px auto;
    box-shadow: 5px 5px 7px 5px grey;
    background-color: lightgray;
    margin-top: 30px;
}

.box5{
    width: 50%;
    border-style: solid;
    margin: 0px auto;
    box-shadow: 5px 5px 7px 5px grey;
    background-color: lightpink;
    margin-top: 30px;
}

.outerbox{
    background-color: #FAF9F6;
    height: 350px;
}

.rect1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.sqr1{
    box-sizing: border-box;
    text-align: center;
    padding-top: 64px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}

.sqr2{
    box-sizing: border-box;
    text-align: center;
    padding-top: 64px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
} 


.sqr3{
    box-sizing: border-box;
    text-align: center;
    padding-top: 64px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    box-shadow:  0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
}

.rect2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}


.sqrr1{
    box-sizing: border-box;
    text-align: center;
    padding-top: 38px;
    width: 100px;
    height: 100px;
    box-shadow:0 1px 1px rgba(0,0,0,0.25), 
    0 2px 2px rgba(0,0,0,0.20), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.10),
    0 16px 16px rgba(0,0,0,0.05);
}


.sqrr2{
    box-sizing: border-box;
    text-align: center;
    padding-top: 38px;
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.16), 
    0 8px 8px rgba(0,0,0,0.20);
}


.sqrr3{
    box-sizing: border-box;
    text-align: center;
    padding-top: 38px;
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}


.sqrr4{
    box-sizing: border-box;
    text-align: center;
    padding-top: 38px;
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
}


.sqrr5{
    box-sizing: border-box;
    text-align: center;
    padding-top: 38px;
    width: 100px;
    height: 100px;
    box-shadow:0 2px 1px rgba(0,0,0,0.09), 
    0 4px 2px rgba(0,0,0,0.09), 
    0 8px 4px rgba(0,0,0,0.09), 
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}

.outerbox3{
    display: flex;
    width:100%;
    justify-content: space-evenly;
}

.b1{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 10.2px 10.4px 13.4px rgb(182, 180, 180);
    inset: 3px 3px rgb(121, 119, 119);
}

.b2{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 10.2px 10.4px 13.4px rgb(182, 180, 180) inset,
    -10.2px -10.4px 13.4px rgb(182, 180, 180) inset;
}

.b3{
    width: 300px;
    border: 1px solid rgb(188, 185, 185);
    height: 300px;
    border-radius: 30px;
    box-shadow: 4px 4px rgb(199, 199, 201), 8px 8px rgb(176, 174, 174), 12px 12px rgb(120, 122, 120), 16px 16px rgb(66, 67, 66);
}


.outerbox2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card1{
    border-radius: 10px;
    width: 25%;
    height: 100px;
    border: none;
    padding:10px;
    transition: box-shadow 0.3s;
}
.card1:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card2{
    padding:10px;
    border-radius: 10px;
    width: 25%;
    height: 100px;
    border: 1px solid;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
    
.card3{
    padding:10px;
    border-radius: 10px;
    width: 25%;
    height: 100px;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card4{
    padding:10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 25%;
    height: 100px;
    border: 1px solid;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

.card5{
    padding:10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 25%;
    height: 100px;
    border: 1px solid;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.card6{
    padding:10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 25%;
    height: 100px;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}